.main{


    .main_child1{
        border-bottom: 1px solid rgb(70, 70, 70);
        width: 100%;
        display: flex;
        justify-content:space-around;
        
        button{
            width: 13%;
            height: 50px;
            font-size: 18px;
            font-weight: bold;
            color: white;
            background-color: black;
            border: none;
        }
        button:hover{
            border-bottom: 4px solid rgb(29, 138, 240);
        }
    }

    .main_child2{
        border-bottom: 1px solid rgb(70, 70, 70);
        display: flex;
        padding: 10px;
        gap: 5px;

        img{
            width:6%;
            height: 45px;
            border-radius: 40px;
        }
        .main_post{
            // border: 1px solid rgb(0, 255, 200);
            width: 75%;
            color: white;
            text-align: left;

            p{
                font-size: 18px;
            }

            .icon{
                // width: 40%;
                height: 30px;
                font-size: 19px;
                gap: 20px;
                display: flex;
                color:rgb(8, 119, 247) ;
            }
        } 
        button{
            background-color: rgb(86, 160, 245);
            border-radius: 20px;
            color: white;
            width:9%;
            height: 35px;
            margin: auto;
            margin-bottom: 3px;
            margin-right: 3px;
            font-size: 16px;
            border: none;
        }  
        
    }

    .main_child3{
        border-bottom: 1px solid rgb(70, 70, 70);
        margin: auto;
        color:rgb(8, 119, 247) ;
        padding:20px;
    }
}